nav {
    background-color: black;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: monospace;
}

.nav-item {
    margin: 20px;
    margin-top: 0px;
    font-size: 13px;
}
a {
    color: white;
    text-decoration: none;
}

body{
    background-color: black;
}

h1{
    color: white;
    font-family: 'Redressed', cursive;
    text-align: center;
    margin-bottom: 120px;
    font-size: 38px;
}

.options{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-family: 'Kalam', cursive;
    font-size: x-large;
    border: 2px solid white;
    border-radius: 9px;
    cursor: pointer;
    transition-property: all;
    transition-delay: 0.2s;
    transition-duration: 2s;
}

.options:hover{
    color: black;
    background-color: white;
}

.container{
    margin-bottom: 50px;
}

.recent-container{
    background-color: royalblue;
    color: white;
    height: 300px;
    width: 500px;
    overflow-y: auto;
    margin: auto;
    border: 4px outset green;
    border-radius: 10px;
}
#recent-heading{
    font-family: monospace;
    text-align: center;
    font-size: 24px;
    color: white;
}

.recent-item{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 7px;
}

form{
    display: block;
    margin: auto;
    width: 400px;
    height: 310px;
    background-color: transparent;
    border: 3px outset white;
    border-radius: 9px;
    padding: auto;
    margin-top: 50px;
}

.text{
    width: 250px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-family: monospace;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#email-confirmed{
    text-align: center;
    color: white;
    font-family: monospace;
    margin-top: 60px;
}