<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='blogs-style.css') }}">
    <link rel="shortcut icon" href="./IMG_20201208_104137_431.jpg" type="image/x-icon">
        <title>Top 3 Programming Languages To Learn In 2021- Code With Swapnil</title>
</head>
<body>
    <h1>Top 3 Programming Languages To Learn In 2021</h1>
    <h3>
        Top 3 programming Languages To Learn in 2021 <br> <br>

        1. Python <br> <br> <br>

        Python is an interpreted, high-level and general-purpose programming language. Python's design philosophy
        emphasizes code readability with its notable use of significant whitespace. Python is the language of the future
        because, It's The language used for devloping ai (Artificial Intelligence), datascience, web-devlopment and much
        more. The best feature of Python is that it is way easy to learn than other programming languages. It has a easy
        syntax and is begginer friendly. <br> <br>

        2. Javascript <br> <br>  <br>

        JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification.
        JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, dynamic
        typing, prototype-based object-orientation, and first-class functions. The speciality of javascript is that we
        can use it for devloping both frontend and backend of a website. There are various frontend frameworks such as
        react, angular etc. based on javascript. For devloping Backend using javascript we can use node js.
        <br> <br>

        3. Java <br> <br> <br>
        Java is a class-based, object-oriented programming language that is designed to have as few implementation
        dependencies as possible. Java is used for android devlopment, desktop devlopment and web-devlopment. It is not
        easier as javascript and python but it is faster than them. There are some frameworks such as flutter, spring
        etc. by which we can devlop web apps in Java. The speciality of Java is that it's gui (graphical user interface)
        is easy to learn.
        
    </h3>
</body>
</html>